#adj_id{
    display: flex;
    justify-content: right;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#tbl_name{
    color: red;
    font-style: italic;
}
label{
    margin-top: 5px;
    margin-right: 5px;
    font-weight: 700;
}
#Loc_id{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    width: 10%;
}
select,input[type=submit]{
    height: 2rem;
}
input[type=submit]{
    margin-top: 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
input[type=submit]:hover{
    background-color: red;
    color:white;
}